@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}
body{
    background-color: #DFDFDF;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

#root{
    height: 100vh;
}

.app{
    /*width: 100vw;*/
    /*height: 100vh;*/
    background-color: #DFDFDF;
    background-size: cover;

}

.todo-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;
}