.TodoInputClass {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 43px;
    margin: 50px 0px 15px 0px;
    gap: 26px;

    width: 375px;
    height: 57px;
    left: 10px;
    top: 20px;

    border-radius: 11px 11px 0px 0px;
    background: #FFFFFF;
}
.input{
    border: none;
    outline: none;
    width: 100%;
}
.input__checkbox{
    transform: rotate(-45deg);
}